<?php

/**
 * This file is part of the SanteFute project.
 *
 * @author Marcel Djaman <marceldjaman@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
return array(
    'mdjaman_blog' => array(
        'category_entity_class' => 'MdjamanBlog\Entity\Category',
        'article_entity_class'  => 'MdjamanBlog\Entity\Article',
        'tag_entity_class'      => 'MdjamanBlog\Entity\Tag',
        'recent_listing_limit'   => 20,
        'category_listing_limit' => 20,
        'archive_listing_limit'  => 20,
        'feed_listing_limit'     => 20,
        'admin_listing_limit'    => 20,
        'sitemap'               => array(
            'changefreq' => '',
            'priority'   => '',
        ),
        'feed_generator'        => array(
            'name'    => 'Sitename',
            'version' => 'v0.1.0',
            'uri'     => 'http://domain.com/',
        ),
        'feed_settings'         => array(
            'title'       => 'Articles from domain name',
            'description' => 'Flux RSS from domain name',
        ),
        'social_sharing' => array(
            'provider' => 'addthis',
            'id' => 'ra-xxxxxxxxxxxxxxx',
            'networks' => array(
                'facebook',
                'twitter',
                'google_plus',
                'linkedin',
            ),
            'analytics' => array(
                'service' => 'google',
                'social' => true,
                'code' => 'UA-xxxxxxxx-1',
            ),
        ),
        'comment_service' => array(
            'provider' => 'disqus',
            'identifier' => 'xxxxxxxx',
            'shortname' => 'xxxxxxxx',
        ),
    ),
);
